%h1= I18n.t('list_addresses.title')

%form{method: 'post', action: '/user/addresses'}
  = csrf.form_tag

  %input.btn.btn-primary{type: 'submit', value: I18n.t('bitcoin.create_address')}

%table.table.table-hover
  %tr
    %th Total
    %th= I18n.t('list_addresses.created_at')
  - addresses.each do |address|
    %tr
      %td
        %a{href: "/user/addresses/#{address[:address]}"}
          - if address[:total].zero?
            Pending
          - else
            = btc(address[:total])
      %td= address[:created_at]
